<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="WechatApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="WechatApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="WechatApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="WechatApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <title>云湃共享健康</title>
  <meta name="description" content="">
  <base href="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control" />
  <meta content="no-cache" http-equiv="Pragma" />

	<meta content="0" http-equiv="Expires" />
  
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/login.css">
  
  <script src="../../bower_components/angular/angular.min.js"></script>
  <script src="../../bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../../bower_components/echarts/echarts-all.js"></script>
  
  <link rel="stylesheet" type="text/css" href="../../css/user/ionic.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/user/mystyle.css">
  
</head>
<body>
  <div ui-view  style="overflow-y: auto;height: 100%;"></div>

  <script src="controller.js"></script>
  <script src="./manager/controller.js"></script>
  <script src="../../components/service/CommonService.js"></script>
  <script type="text/javascript" src="../../bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../components/layer/2.1/layer.js"></script>
</body>
</html>
