<div class="bunding-head">如需找回设备，请用该设备检测，应在本页面输入检测结果</div>
<div class="list"  id="zhList">
	<a class="item help-item " href=""  >	 
			<span class="help-span">高压：{{ssyRecord}}</span>
			<img src="../../img/wechart/user/arrow.png" class="help-arrow">
		</a>	
		<a class="item help-item " href=""  >	 
			<span class="help-span">低压：{{szyRecord}}</span>
			<img src="../../img/wechart/user/arrow.png" class="help-arrow">
		</a>	
		<a class="item help-item " href=""  >	 
			<span class="help-span">心率：{{xlRecord}}</span>
			<img src="../../img/wechart/user/arrow.png" class="help-arrow">
		</a>	
		
</div>
<button class="btn-next" ng-click="checkRecordInfo()"> 
			确认
</button>	
	
			